# Папки и файлы, которые необходимо игнорировать
node_modules/   # Игнорировать папку с установленными зависимостями Node.js
npm-debug.log*  # Игнорировать логи npm
.env            # Игнорировать файлы с переменными окружения

# Если вы используете WebStorm или IntelliJ IDEA, добавьте следующее:
.idea/

# Если вы используете Visual Studio Code, добавьте следующее:
.vscode/
node_modules
